<h1>Список расчетов</h1>
<p>Здесь расчеты</p>
<div class="collection">
    <a href="/steel-01" class="collection-item"><span class="badge">КМ</span><span class="badge">СНиП II-23-81</span>Проверка стального центрально-сжатого элемента</a>
    <a href="#" class="collection-item"><span class="badge">КЖ</span>Проверка железобетонной колонны</a>
</div>